<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.reachfive.identity.sdk.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="co.reachfive.identity.sdk.demo.AuthenticatedActivity"
                android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
                android:name="co.reachfive.identity.sdk.core.RedirectionActivity"
                android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/reachfive_client_id"
                    android:pathPrefix="@string/reachfive_path"
                    android:scheme="@string/reachfive_scheme"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <activity
                android:name="co.reachfive.identity.sdk.webview.ReachFiveLoginActivity"
                android:screenOrientation="portrait"
            android:exported="true" />

        <activity
                android:name=".JavaMainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <uses-library
            android:name="android.test.runner"
            android:required="false" />

    </application>
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

</manifest>
